
            <div class="container-fluid px-3" >

                <div class="row mt-1" style="background-color: white;">
                    
                    <h3 class="PageName mt-4 mb-2 ">All Coupons</h3>
                    <div class="newButton  mt-2 my-4 mr-3">
                        <a onclick="return aTagClick('Are you want to create New Banner ?','/admin/add-coupon')" class="createNewButton mr-5"> Create new Banner</a>
                    </div>
                    <hr>
                    <div class="card mt-4 mb-4" >
                        <table class="table mt-4 display " id="productsTable">
                            <thead class="mt-4">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th>Coupon Code</th>
                                    <th>Banner</th>
                                    <th>Maximum Price</th>
                                    <th>coupon Offer</th>
                                    <th>Start Data</th>
                                    <th>Expiry Dta</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                             <tbody>
                            {{#each coupons}}
                            <tr style="font-weight: 700;">
                                <td scope="row">{{this.couponName}}</td>
                                <td scope="row">{{this.couponCode}}</td>
                                <td><img style="width: 50px;" src="{{this.couponBanner}}" alt="image"></td>
                                <td>₹ {{this.couponMaxPrice}}/-</td>
                                <td style="color: green;">{{this.couponOffer}}%</td>
                                <td>{{this.couponStartingDate}}</td>
                                <td>{{this.couponExpiryDate}}</td>
                                <td>
        
                            {{#if isCouponActive}}
                                <form action="/admin/coupon-block" method="post" id="couponBlock-{{this._id}}">
                                <input type="text" value="{{this._id}}" name="couponId" hidden>
                                <button class="blockButton mb-3" onclick="return showConfirmForm('Are you want to block this Coupon ?','couponBlock-{{this._id}}')" type="submit" >Block</button>
                                </form> 
                                
                            {{else}}
                                <form action="/admin/coupon-unBlock" method="post" id="unBlockBanner-{{this._id}}">
                                <input type="text" value="{{this._id}}" name="couponId" hidden>
                                <button class="unBlockButton mb-3" onclick="return showConfirmForm('Are you want to Un block this Coupon ?','unBlockBanner-{{this._id}}')" type="submit">Un Block</button>
                                </form>
                            {{/if}}

                                </td>

                            </tr>
                            {{/each}}

                        </tbody>
                        </table>
                        <script>

                            $(function () {
                                $('#productsTable').DataTable();
                            });

                        </script>
                    </div>
                </div>

            </div>
        </div>

   
