        <!-- Page Content -->

            <div class="container-fluid px-1 mt-1 mb-5">
                <div class="card px-4 mt-1">
                    <div class="container-fluid px-3 mt-4 mb-4" >
                         <h3 class="PageNameAdd mb-3">Edit Product</h3>
                        <div class="row">
                            <div class="mt-4 ">
                                <form action="/admin/edit-product-submit" method="post" enctype="multipart/form-data">
                                <label for="productName">Product Name</label>
                                <input id="productName" value="{{productData.productName}}" type="text" name="productName"  class="form-control" onkeyup="productNameChecker()" >
                                <span style="color: red;" id="productName_error"></span>
                                <br>

                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label for="productCategory">Category</label>
                                            <input  value="{{productData.productCategory}}" type="text" name="productCategory"  class="form-control" readonly >
                                            <br>
                                        <br>
                                        
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label for="">Price</label>
                                        <input type="number" value="{{productData.productPrice}}" name="productPrice" id="productPrice" onkeyup="productPriceChecker()" class="form-control">
                                        <span style="color: red;" id="productPrice_error"></span>
                                        <br>
                                    </div>
                                </div>

                                <div class="row">
                                   <div class="col-md-6">
                                        <label for=""> Product Stock</label>
                                        <input type="number" value="{{productData.ProductStock}}" name="ProductStock"  id="productStock" onkeyup="productStockChecker()" class="form-control">
                                        <span style="color: red;" id="productStock_error"></span>
                                        <br>
                                    </div>
            
                                    <div class="col-md-6">
                                        <label for="">Offer %</label>
                                        <input type="number" value="{{productData.productOffer}}" name="productOffer"  class="form-control" id="productOffer" onkeyup="productOfferChecker()" >
                                        <span style="color: red;" id="productOffer_error"></span>
                                        <br>
                                    </div>

                                     <div class="col-md-6">
                                        <label for="">Warranty Months</label>
                                        <input type="number" value="{{productData.productWarranty}}" name="productWarranty"  class="form-control" id="productWarranty" onkeyup="productWarrantyChecker()" >
                                        <span style="color: red;" id="productWarranty_error"></span>
                                        <br>
                                    </div>

                                    <div class="col-md-6">
                                    </div>
 
                                    <div class="col-md-6">
                                        <label  for="productDelivary">Delivery Method :</label>
                                        <br>
                                        <div class="mt-2 mx-4">
                                            {{#if productData.productFreeDelivery}}
                                            <input type="radio" name="productFreeDelivery" value="true"  checked required >  Free Delivery
                                             <br>
                                             <input type="radio" name="productFreeDelivery"  value="false"  required >  No Free Delivery
                                            {{else}}
                                            <input type="radio" name="productFreeDelivery" value="true"   required >  Free Delivery
                                             <br>
                                             <input type="radio" name="productFreeDelivery"  value="false" checked required >  No Free Delivery
                                            {{/if}}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-6">
                                        <label  for="productReplacement">Replacement Method</label>
                                        <br>
                                        
                                        <div class="mt-2 mx-4">
                                            {{#if productData.productReplacement}}
                                            <input type="radio" name="productReplacement"  value="true" checked required >  Free Replacement 
                                            <br>
                                             <input type="radio" name="productReplacement"  value="false" required >  No Replacement 
                                             {{else}}
                                             <input type="radio" name="productReplacement"  value="true" required >  Free Replacement 
                                            <br>
                                             <input type="radio" name="productReplacement"  value="false" checked required >  No Replacement 
                                             {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                {{!-- // show less --}}

                                 <div class="row ">
                                    <h5 class="AboutThisProduct mt-4 mb-5">Fill Product Details </h5>
                                    
                                        <div class="col-lg-4">
                                            <label for="">Product Brand :</label>
                                            <input type="text" name="productBrand" value="{{productData.productBrand}}" class="form-control" readonly>
                                            <br>
                                        </div>
        
                                        <div class=" col-lg-4">
                                            <label for=""> Model Name :</label>
                                            <input type="text" name="productModelName" value="{{productData.productModelName}}" class="form-control" required>
                                            <br>
                                        </div>
                                        <div class=" col-lg-4">
                                            <label for="">Color :</label>
                                            <input list="productColor" value="{{productData.productColor}}"  name="productColor" class="form-control" required>
                                            <datalist  id="productColor">
                                                <option value="White">
                                                <option value="Silver">
                                                <option value="Grey">
                                                <option value="Green">
                                                <option value="Red">
                                                <option value="Orange">
                                                <option value="Blue">
                                                <option value="Purple">
                                                <option value="Mid Night">
                                                <option value="Black">
                                            </datalist>
                                            <br>
                                        </div>

                                        {{!-- mack start --}}
                                        {{#if category.MacBook}}

                                        <div class="col-lg-4 mackDiv">
                                            <label >Mack Screen Size :</label>
                                            <input step=".1" type="number" value="{{productData.productScreenSize}}" placeholder="inch" name="productScreenSize" class="form-control mackInput" required>
                                            <br>
                                        </div>

                                        <div class=" col-lg-4 mackDiv">
                                            <label>Mack CPU Model :</label>
                                            <select name="productCPUModel"   class="form-control mackInput" required>
                                                <option value="{{productData.productCPUModel}}">{{productData.productCPUModel}} ---selected--- </option>
                                                <option value="Core M Family">Core M Family</option>
                                                <option value="Apple M1">Apple M1</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class=" col-lg-4 mackDiv">
                                            <label>Mack CPU Type :</label>
                                            <select name="productCPU"  class="form-control mackInput" required>
                                                <option value="{{productData.productCPU}}">{{productData.productCPU}} ---selected--- </option>
                                                <option value="8 Core">8 core</option>
                                                <option value="14 Core">14 core</option>
                                                <option value="16 Core">16 core</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class=" col-lg-4 mackDiv">
                                            <label>Mack GPU Type :</label>
                                            <select name="productGPU"  class="form-control mackInput" required>
                                                <option value="{{productData.productGPU}}">{{productData.productGPU}} ---selected--- </option>
                                                <option value="8 Core">8 core</option>
                                                <option value="14 Core">14 core</option>
                                                <option value="16 Core">16 core</option>
                                            </select>
                                            <br>
                                        </div>
                                        <div class=" col-lg-4 mackDiv">
                                            <label>Mack RAM Memory :</label>
                                            <select name="productRAMMemory"  class="form-control mackInput" required>
                                                <option value="{{productData.productRAMMemory}}">{{productData.productRAMMemory}} ---selected--- </option>
                                                <option value="8 GB">8 GB</option>
                                                <option value="16 GB">16 GB</option>
                                                <option value="32 GB">32 GB</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class=" col-lg-4 mackDiv">
                                            <label>Mack Hard Disk Size :</label>
                                            <select name="productHardDiskSize" class="form-control mackInput" required>
                                                <option value="{{productData.productHardDiskSize}}">{{productData.productHardDiskSize}} ---selected--- </option>
                                                <option value="256 GB">256 GB</option>
                                                <option value="512 GB">512 GB</option>
                                                <option value="1 TB">1 TB</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class=" col-lg-4 mackDiv">
                                            <label> Mack chips :</label>
                                            <select name="productMChips"  class="form-control mackInput" required>
                                                <option value="{{productData.productMChips}}">{{productData.productMChips}} ---selected--- </option>
                                                <option value="M1">M1</option>
                                                <option value="M1 Pro">M1 Pro</option>
                                                <option value="M1 Max">M1 Max</option>
                                                <option value="M1 Ultra">M1 Ultra</option>
                                                <option value="M2">M2</option>
                                                <option value="M2 Pro">M2 Pro</option>
                                                <option value="M2 Max">M2 Max</option>
                                                <option value="M2 Ultra">M2 Ultra</option>
                                            </select>
                                            <br>
                                        </div>
                                        
                                         <div class=" col-lg-4 mackDiv">
                                            <label>Mack Operating System :</label>
                                            <select name="productOperatingSystem" value="{{productData.productOperatingSystem}}" class="form-control mackInput" required>
                                                <option value="{{productData.productOperatingSystem}}">{{productData.productOperatingSystem}} ---selected--- </option>
                                                <option value="macOS 12 Monterey">macOS 12 Monterey</option>
                                                <option value="macOS 10.14 Mojav">macOS 10.14 Mojav</option>
                                            </select>
                                            <br>
                                        </div>

                                         <div class=" col-lg-4 mackDiv">
                                            <label>Mack Memory Storage Available :</label><br> 
                                            {{#if checkers.storageChecker.GB256}}
                                            <input  class="mackInput" type="checkbox" name="productInternalStorage" value="256 GB" checked required >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productInternalStorage" value="256 GB" required >
                                            {{/if}}
                                            <label > 256 GB</label><br>

                                            {{#if checkers.storageChecker.GB512}}
                                            <input  class="mackInput" type="checkbox" name="productInternalStorage" value="512 GB" checked>
                                            {{else}}
                                             <input  class="mackInput" type="checkbox" name="productInternalStorage" value="512 GB" >
                                            {{/if}}
                                            <label > 512 GB</label><br>
                                            
                                            {{#if checkers.storageChecker.TB1}}
                                            <input  class="mackInput" type="checkbox" name="productInternalStorage" value="1 TB" checked >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productInternalStorage" value="1 TB" >
                                            {{/if}}
                                            <label > 1 TB</label><br><br>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 mackDiv">
                                            <label>Color Available In This Product :</label><br>
                                            {{#if checkers.colorChecker.Black}}
                                            <input class="mackInput" type="checkbox" name="productAvailableColor" value="Black" checked required>
                                            {{else}}
                                            <input class="mackInput" type="checkbox" name="productAvailableColor" value="Black" required>
                                            {{/if}}
                                            <label>Black</label><br>
                    
                                            {{#if checkers.colorChecker.Green}}
                                            <input class="mackInput" type="checkbox" name="productAvailableColor" value="Green" checked>
                                            {{else}}
                                            <input class="mackInput" type="checkbox" name="productAvailableColor" value="Green">
                                            {{/if}}
                                            
                                            <label>Green</label><br>
                                            {{#if checkers.colorChecker.Purple}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Purple" checked >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Purple" >
                                            {{/if}}
                                            <label >Purple</label><br>

                                            {{#if checkers.colorChecker.Red}}
                                                <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Red" checked>
                                            {{else}}
                                                <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Red" >
                                            {{/if}}
                                            <label >Red</label><br>

                                            {{#if checkers.colorChecker.Orange}}
                                                <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Orange" checked >
                                            {{else}}
                                                <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Orange" >
                                            {{/if}}
                                            <label >Orange</label><br>

                                            {{#if checkers.colorChecker.Pink}}
                                                <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Pink" checked >
                                            {{else}}
                                                <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Pink" >
                                            {{/if}}
                                            <label >Pink</label><br>

                                            {{#if checkers.colorChecker.Yellow}}
                                                <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Yellow" checked >
                                            {{else}}
                                                <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Yellow" >
                                            {{/if}}
                                            <label >Yellow</label><br>


                                            {{#if checkers.colorChecker.Gold}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Gold" checked >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Gold" >
                                            {{/if}}
                                            <label >Gold</label><br>

                                            {{#if checkers.colorChecker.Blue}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Blue" checked >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Blue" >
                                            {{/if}}
                                            <label >Blue</label><br>

                                            {{#if checkers.colorChecker.Grey}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Grey"  checked>
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Grey" >
                                            {{/if}}
                                            <label >Grey</label><br>

                                            {{#if checkers.colorChecker.Silver}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Silver" checked >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Silver" >
                                            {{/if}}
                                            <label >Silver</label><br>

                                            {{#if checkers.colorChecker.White}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="White" checked >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="White" >
                                            {{/if}}
                                            <label >White</label><br>

                                            {{#if checkers.colorChecker.DeepPurple}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Deep Purple" checked >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Deep Purple" >
                                            {{/if}}
                                            <label >Deep Purple</label><br>

                                            {{#if checkers.colorChecker.MidNight}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Mid Night" checked >
                                            {{else}}
                                            <input  class="mackInput" type="checkbox" name="productAvailableColor" value="Mid Night" >
                                            {{/if}}
                                            <label >Mid Night</label><br><br>                                            
                                            <br>
                                        </div>

                                        {{/if}}
                                        
                                        {{!-- iphone start --}}
                                         {{#if category.iPhone}}

                                        <div class="col-lg-4 iphoneDiv">
                                            <label >iPhone Screen Size :</label>
                                            <input step=".1" type="number" value="{{productData.productScreenSize}}" placeholder="inch" name="productScreenSize" class="form-control iphoneInput" required>
                                            <br>
                                        </div>

                                        <div class=" col-lg-4  iphoneDiv">
                                            <label>iPhone Hard Disk Size :</label>
                                            <select name="productHardDiskSize" class="form-control iphoneInput" required>
                                                <option value="{{productData.productHardDiskSize}}">{{productData.productHardDiskSize}} ---selected---</option>
                                                <option value="128 GB">128 GB</option>
                                                <option value="256 GB">256 GB</option>
                                                <option value="512 GB">512 GB</option>
                                            </select>
                                            <br>
                                        </div>

                                         <div class=" col-lg-4 iphoneDiv">
                                            <label>iPhone Cellular Technology :</label>
                                            <select name="productCellular" class="form-control iphoneInput" required>
                                                <option value="{{productData.productCellular}}">{{productData.productCellular}} ---selected---</option>
                                                <option value="3G">3G</option>
                                                <option value="4G">4G</option>
                                                <option value="5G">5G</option>
                                                
                                            </select>
                                            <br>
                                        </div>
                                        

                                         <div class=" col-lg-4 iphoneDiv">
                                            <label>iPhone Camera Resolution :</label>
                                            <select name="productCameraResolution" class="form-control iphoneInput" required>
                                                <option value="{{productData.productCameraResolution}}">{{productData.productCameraResolution}} ---selected---</option>
                                                <option value="128 mb">128 mb</option>
                                                <option value="64 mb">64 mb</option>
                                                <option value="48 mb">48 mb</option>
                                                <option value="32 mb">32 mb</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class=" col-lg-4 iphoneDiv">
                                            <label>iPhone Operating System :</label>
                                            <select name="productOperatingSystem" class="form-control iphoneInput" required>
                                                <option value="{{productData.productOperatingSystem}}">{{productData.productOperatingSystem}} ---selected---</option>
                                                <option value="iOS">iOS</option> 
                                                <option value="iOS">iPadOS</option> 
                                            </select>
                                            <br>
                                        </div>


                                         <div class=" col-lg-4 iphoneDiv">
                                            <label>Memory Storage Available :</label><br>
                                            {{#if checkers.storageChecker.GB128}}
                                            <input  class="iphoneInput" type="checkbox" name="productInternalStorage" value="128 GB" checked required >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productInternalStorage" value="128 GB" required >
                                            {{/if}}
                                            <label > 128 GB</label><br>

                                            {{#if checkers.storageChecker.GB256}}
                                            <input  class="iphoneInput" type="checkbox" name="productInternalStorage" value="256 GB" checked required >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productInternalStorage" value="256 GB" required >
                                            {{/if}}
                                            <label > 256 GB</label><br>

                                            {{#if checkers.storageChecker.GB512}}
                                            <input  class="iphoneInput" type="checkbox" name="productInternalStorage" value="512 GB" checked>
                                            {{else}}
                                             <input  class="iphoneInput" type="checkbox" name="productInternalStorage" value="512 GB" >
                                            {{/if}}
                                            <label > 512 GB</label><br><br>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 iphoneDiv">
                                            <label>Color Available In This Product :</label><br>
                                            {{#if checkers.colorChecker.Black}}
                                            <input class="iphoneInput" type="checkbox" name="productAvailableColor" value="Black" checked required>
                                            {{else}}
                                            <input class="iphoneInput" type="checkbox" name="productAvailableColor" value="Black" required>
                                            {{/if}}
                                            <label>Black</label><br>
                    
                                            {{#if checkers.colorChecker.Green}}
                                            <input class="iphoneInput" type="checkbox" name="productAvailableColor" value="Green" checked>
                                            {{else}}
                                            <input class="iphoneInput" type="checkbox" name="productAvailableColor" value="Green">
                                            {{/if}}
                                            
                                            <label>Green</label><br>
                                            {{#if checkers.colorChecker.Purple}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Purple" checked >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Purple" >
                                            {{/if}}
                                            <label >Purple</label><br>

                                            {{#if checkers.colorChecker.Red}}
                                                <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Red" checked >
                                            {{else}}
                                                <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Red" >
                                            {{/if}}
                                            <label >Red</label><br>

                                            {{#if checkers.colorChecker.Orange}}
                                                <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Orange" checked >
                                            {{else}}
                                                <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Orange" >
                                            {{/if}}
                                            <label >Orange</label><br>

                                            {{#if checkers.colorChecker.Pink}}
                                                <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Pink" checked >
                                            {{else}}
                                                <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Pink" >
                                            {{/if}}
                                            <label >Pink</label><br>

                                            {{#if checkers.colorChecker.Yellow}}
                                                <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Yellow" checked >
                                            {{else}}
                                                <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Yellow" >
                                            {{/if}}
                                            <label >Yellow</label><br>


                                            {{#if checkers.colorChecker.Gold}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Gold" checked >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Gold" >
                                            {{/if}}
                                            <label >Gold</label><br>

                                            {{#if checkers.colorChecker.Blue}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Blue" checked >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Blue" >
                                            {{/if}}
                                            <label >Blue</label><br>

                                            {{#if checkers.colorChecker.Grey}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Grey"  checked>
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Grey" >
                                            {{/if}}
                                            <label >Grey</label><br>

                                            {{#if checkers.colorChecker.Silver}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Silver" checked >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Silver" >
                                            {{/if}}
                                            <label >Silver</label><br>

                                            {{#if checkers.colorChecker.White}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="White" checked >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="White" >
                                            {{/if}}
                                            <label >White</label><br>

                                            {{#if checkers.colorChecker.DeepPurple}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Deep Purple" checked >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Deep Purple" >
                                            {{/if}}
                                            <label >Deep Purple</label><br>

                                            {{#if checkers.colorChecker.MidNight}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Mid Night" checked >
                                            {{else}}
                                            <input  class="iphoneInput" type="checkbox" name="productAvailableColor" value="Mid Night" >
                                            {{/if}}
                                            <label >Mid Night</label><br><br>                                            
                                            <br>
                                        </div>

                                        {{/if}}
                                        {{!-- ipad start --}}
                                         {{#if category.iPad}}

                                        <div class="col-lg-4 ipadDiv">
                                            <label >iPad Screen Size :</label>
                                            <input step=".1" type="number" placeholder="inch" value="{{productData.productScreenSize}}" name="productScreenSize" class="form-control ipadInput" required>
                                            <br>
                                        </div>

                                        <div class=" col-lg-4  ipadDiv">
                                            <label>ipad Hard Disk Size :</label>
                                            <select name="productHardDiskSize" class="form-control ipadInput" required>
                                                <option value="{{productData.productHardDiskSize}}">{{productData.productHardDiskSize}} ---selected---</option>
                                                <option value="128 GB">128 GB</option>
                                                <option value="256 GB">256 GB</option>
                                                <option value="512 GB">512 GB</option>
                                                <option value="1 TB">1 TB</option>
                                                <option value="2 TB">2 TB</option>
                                            </select>
                                            <br>
                                        </div>

                                         <div class="col-lg-4 ipadDiv">
                                            <label>iPad Camera Resolution :</label>
                                            <select name="productCameraResolution"  class="form-control ipadInput" required>
                                                <option value="{{productData.productCameraResolution}}">{{productData.productCameraResolution}} ---selected---</option>
                                                <option value="128 mb">128 mb</option>
                                                <option value="64 mb">64 mb</option>
                                                <option value="48 mb">48 mb</option>
                                                <option value="32 mb">32 mb</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 ipadDiv">
                                            <label>iPad Operating System :</label>
                                            <select name="productOperatingSystem" class="form-control ipadInput" required>
                                                <option value="{{productData.productOperatingSystem}}">{{productData.productOperatingSystem}} ---selected---</option>
                                                <option value="iOS">iOS</option> 
                                                <option value="iOS">iPadOS</option> 
                                            </select>
                                            <br>
                                        </div>

                                    
                                        <div class="col-lg-4 ipadDiv">
                                            <label>iPad Cellular Technology :</label>
                                            <select name="productCellularTechnology" class="form-control ipadInput" required>
                                                <option value="{{productData.productCellularTechnology}}">{{productData.productCellularTechnology}} ---selected--- </option>
                                                <option value="4G">4G</option>
                                                <option value="5G">5G</option>
                                            </select>
                                            <br>
                                        </div>

                                         <div class="col-lg-4 ipadDiv">
                                            <label>AvailableMemory Storage :</label><br>

                                            {{#if checkers.storageChecker.GB128}}
                                            <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="128 GB" checked required >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="128 GB" required >
                                            {{/if}}
                                            <label > 128 GB</label><br>

                                            {{#if checkers.storageChecker.GB256}}
                                            <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="256 GB" checked required >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="256 GB" required >
                                            {{/if}}
                                            <label > 256 GB</label><br>

                                            {{#if checkers.storageChecker.GB512}}
                                            <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="512 GB" checked>
                                            {{else}}
                                             <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="512 GB" >
                                            {{/if}}
                                            <label > 512 GB</label><br>

                                            {{#if checkers.storageChecker.TB1}}
                                            <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="1 TB" checked>
                                            {{else}}
                                             <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="1 TB" >
                                            {{/if}}
                                            <label > 1 TB</label><br>

                                            {{#if checkers.storageChecker.TB2}}
                                            <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="2 TB" checked>
                                            {{else}}
                                             <input  class="ipadInput" type="checkbox" name="productInternalStorage" value="2 TB" >
                                            {{/if}}
                                            <label > 2 TB</label><br><br>
                                            <br>
                                        </div>


                                        <div class="col-lg-4 ipadDiv">
                                            <label>Color Available In This Product :</label><br>
                                            {{#if checkers.colorChecker.Black}}
                                            <input class="ipadInput" type="checkbox" name="productAvailableColor" value="Black" checked >
                                            {{else}}
                                            <input class="ipadInput" type="checkbox" name="productAvailableColor" value="Black" required>
                                            {{/if}}
                                            <label>Black</label><br>
                    
                                            {{#if checkers.colorChecker.Green}}
                                            <input class="ipadInput" type="checkbox" name="productAvailableColor" value="Green" checked>
                                            {{else}}
                                            <input class="ipadInput" type="checkbox" name="productAvailableColor" value="Green">
                                            {{/if}}
                                            
                                            <label>Green</label><br>
                                            {{#if checkers.colorChecker.Purple}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Purple" checked >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Purple" >
                                            {{/if}}
                                            <label >Purple</label><br>

                                            {{#if checkers.colorChecker.Red}}
                                                <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Red" checked >
                                            {{else}}
                                                <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Red" >
                                            {{/if}}
                                            <label >Red</label><br>

                                            {{#if checkers.colorChecker.Orange}}
                                                <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Orange" checked >
                                            {{else}}
                                                <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Orange" >
                                            {{/if}}
                                            <label >Orange</label><br>

                                            {{#if checkers.colorChecker.Pink}}
                                                <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Pink" checked >
                                            {{else}}
                                                <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Pink" >
                                            {{/if}}
                                            <label >Pink</label><br>

                                            {{#if checkers.colorChecker.Yellow}}
                                                <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Yellow" checked >
                                            {{else}}
                                                <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Yellow" >
                                            {{/if}}
                                            <label >Yellow</label><br>


                                            {{#if checkers.colorChecker.Gold}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Gold" checked >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Gold" >
                                            {{/if}}
                                            <label >Gold</label><br>

                                            {{#if checkers.colorChecker.Blue}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Blue" checked >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Blue" >
                                            {{/if}}
                                            <label >Blue</label><br>

                                            {{#if checkers.colorChecker.Grey}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Grey"  checked>
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Grey" >
                                            {{/if}}
                                            <label >Grey</label><br>

                                            {{#if checkers.colorChecker.Silver}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Silver" checked >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Silver" >
                                            {{/if}}
                                            <label >Silver</label><br>

                                            {{#if checkers.colorChecker.White}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="White" checked >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="White" >
                                            {{/if}}
                                            <label >White</label><br>

                                            {{#if checkers.colorChecker.DeepPurple}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Deep Purple" checked >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Deep Purple" >
                                            {{/if}}
                                            <label >Deep Purple</label><br>

                                            {{#if checkers.colorChecker.MidNight}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Mid Night" checked >
                                            {{else}}
                                            <input  class="ipadInput" type="checkbox" name="productAvailableColor" value="Mid Night" >
                                            {{/if}}
                                            <label >Mid Night</label><br><br>                                            
                                            <br>
                                        </div>

                                        {{/if}}


                                        <!-- i watch -->
                                         {{#if category.AppleWatch}}

                                        <div class="col-lg-4 iWatchDiv">
                                            <label >Apple Watch Size :</label>
                                            <select name="productScreenSize" class="form-control iWatchInput" required>
                                                <option value="{{productData.productScreenSize}}">{{productData.productScreenSize}} ---selected---</option>
                                                <option value="40mm - fits 130-200mm wrists">40mm - fits 130-200mm wrists</option>
                                                <option value="44mm - fits 140-220mm wrists">44mm - fits 140-220mm wrists</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 iWatchDiv">
                                            <label >Apple Watch Generation :</label>
                                             <select name="productGeneration" class="form-control iWatchInput" required>
                                                <option value="{{productData.productGeneration}}">{{productData.productGeneration}} ---selected---</option>
                                                <option value="1st Generation">1st Generation</option>
                                                <option value="2nd Generation">2nd Generation</option>
                                                <option value="3rd Generation">3rd Generation</option>
                                            </select>
                                            <br>
                                        </div>

                                         <div class="col-lg-4 iWatchDiv">
                                            <label>Apple Watch Style :</label>
                                            <select name="productWatchStyle" class="form-control iWatchInput" required>
                                                <option value="{{productData.productWatchStyle}}">{{productData.productWatchStyle}} ---selected---</option>
                                                <option value="Modern">Modern</option>
                                                <option value="GPS">GPS</option>
                                                <option value="GPS + CELLULAR">GPS + CELLULAR</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 iWatchDiv">
                                            <label >Apple Watch Available Sizes</label><br>
                                            {{#if checkers.sizeChecker.mm40}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableSize" value="40mm - fits 130 - 200mm wrists" checked required >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableSize" value="40mm - fits 130 - 200mm wrists" required >
                                            {{/if}}
                                            <label >40mm - fits 130 - 200mm wrists</label><br>

                                            {{#if checkers.sizeChecker.mm44}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableSize" value="44mm - fits 140 - 220mm wrists" checked  >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableSize" value="44mm - fits 140 - 220mm wrists" >
                                            {{/if}}
                                            <label >44mm - fits 140 - 220mm wrists</label><br>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 iWatchDiv">
                                            <label>Color Available In This Product :</label><br>

                                            {{#if checkers.colorChecker.Black}}
                                            <input class="iWatchInput" type="checkbox" name="productAvailableColor" value="Black" checked >
                                            {{else}}
                                            <input class="iWatchInput" type="checkbox" name="productAvailableColor" value="Black" >
                                            {{/if}}
                                            <label>Black</label><br>
                    
                                            {{#if checkers.colorChecker.Green}}
                                            <input class="iWatchInput" type="checkbox" name="productAvailableColor" value="Green" checked>
                                            {{else}}
                                            <input class="iWatchInput" type="checkbox" name="productAvailableColor" value="Green">
                                            {{/if}}
                                            
                                            <label>Green</label><br>
                                            {{#if checkers.colorChecker.Purple}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Purple" checked >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Purple" >
                                            {{/if}}
                                            <label >Purple</label><br>

                                            {{#if checkers.colorChecker.Red}}
                                                <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Red" checked >
                                            {{else}}
                                                <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Red" >
                                            {{/if}}
                                            <label >Red</label><br>

                                            {{#if checkers.colorChecker.Orange}}
                                                <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Orange" checked >
                                            {{else}}
                                                <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Orange" >
                                            {{/if}}
                                            <label >Orange</label><br>

                                            {{#if checkers.colorChecker.Pink}}
                                                <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Pink" checked >
                                            {{else}}
                                                <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Pink" >
                                            {{/if}}
                                            <label >Pink</label><br>

                                            {{#if checkers.colorChecker.Yellow}}
                                                <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Yellow" checked >
                                            {{else}}
                                                <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Yellow" >
                                            {{/if}}
                                            <label >Yellow</label><br>


                                            {{#if checkers.colorChecker.Gold}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Gold" checked >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Gold" >
                                            {{/if}}
                                            <label >Gold</label><br>

                                            {{#if checkers.colorChecker.Blue}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Blue" checked >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Blue" >
                                            {{/if}}
                                            <label >Blue</label><br>

                                            {{#if checkers.colorChecker.Grey}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Grey"  checked>
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Grey" >
                                            {{/if}}
                                            <label >Grey</label><br>

                                            {{#if checkers.colorChecker.Silver}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Silver" checked >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Silver" >
                                            {{/if}}
                                            <label >Silver</label><br>

                                            {{#if checkers.colorChecker.White}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="White" checked >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="White" >
                                            {{/if}}
                                            <label >White</label><br>

                                            {{#if checkers.colorChecker.DeepPurple}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Deep Purple" checked >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Deep Purple" >
                                            {{/if}}
                                            <label >Deep Purple</label><br>

                                            {{#if checkers.colorChecker.MidNight}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Mid Night" checked >
                                            {{else}}
                                            <input  class="iWatchInput" type="checkbox" name="productAvailableColor" value="Mid Night" required >
                                            {{/if}}
                                            <label >Mid Night</label><br><br>                                            
                                            <br>
                                        </div>
                                        {{/if}}

                                        <!-- i air pod Pod -->
                                        {{#if category.AirPods}}
                                        

                                        <div class="col-lg-4 airPodsDiv">
                                            <label >AirPods Generation :</label>
                                             <select name="productGeneration" class="form-control airPodsInput" required>
                                                <option value="{{productData.productGeneration}}">{{productData.productGeneration}} ---selected---</option>
                                                <option value="1st Generation">1st Generation</option>
                                                <option value="2nd Generation">2nd Generation</option>
                                                <option value="3rd Generation">3rd Generation</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 airPodsDiv">
                                            <label >AirPod Compatible Type :</label>
                                             <select name="productCompatibleType" class="form-control airPodsInput" required>
                                                <option value="{{productData.productCompatibleType}}">{{productData.productCompatibleType}} ---selected---</option>
                                                <option value="Headphones">Headphones</option>
                                                <option value="HeadSet">HeadSet</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 airPodsDiv">
                                            <label >AirPods FormFactor:</label>
                                             <select name="productFormFactor" class="form-control airPodsInput" required>
                                                <option value="{{productData.productFormFactor}}">{{productData.productFormFactor}} ---selected---</option>
                                                <option value="In Ear">In Ear</option>
                                                <option value="Over Ear">Over Ear</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 airPodsDiv">
                                            <label >AirPods Connectivity Technology :</label>
                                             <select name="productConnectivity" class="form-control airPodsInput" required>
                                                <option value="{{productData.productConnectivity}}">{{productData.productConnectivity}} ---selected---</option>
                                                <option value="Bluetooth">Bluetooth</option>
                                                <option value="Wire">Wire Set</option>
                                            </select>
                                            <br>
                                        </div>

                                        <div class="col-lg-4 airPodsDiv">
                                            <label>Color Available In This Product :</label><br>
                                            {{#if checkers.colorChecker.Black}}
                                            <input class="airPodsInput" type="checkbox" name="productAvailableColor" value="Black" checked >
                                            {{else}}
                                            <input class="airPodsInput" type="checkbox" name="productAvailableColor" value="Black" >
                                            {{/if}}
                                            <label>Black</label><br>
                    
                                            {{#if checkers.colorChecker.Green}}
                                            <input class="airPodsInput" type="checkbox" name="productAvailableColor" value="Green" checked>
                                            {{else}}
                                            <input class="airPodsInput" type="checkbox" name="productAvailableColor" value="Green">
                                            {{/if}}
                                            
                                            <label>Green</label><br>
                                            {{#if checkers.colorChecker.Purple}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Purple" checked >
                                            {{else}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Purple" >
                                            {{/if}}
                                            <label >Purple</label><br>

                                            {{#if checkers.colorChecker.Red}}
                                                <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Red" checked >
                                            {{else}}
                                                <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Red" >
                                            {{/if}}
                                            <label >Red</label><br>

                                            {{#if checkers.colorChecker.Orange}}
                                                <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Orange" checked >
                                            {{else}}
                                                <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Orange" >
                                            {{/if}}
                                            <label >Orange</label><br>

                                            {{#if checkers.colorChecker.Pink}}
                                                <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Pink" checked >
                                            {{else}}
                                                <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Pink" >
                                            {{/if}}
                                            <label >Pink</label><br>

                                            {{#if checkers.colorChecker.Yellow}}
                                                <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Yellow" checked >
                                            {{else}}
                                                <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Yellow" >
                                            {{/if}}
                                            <label >Yellow</label><br>


                                            {{#if checkers.colorChecker.Gold}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Gold" checked >
                                            {{else}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Gold" >
                                            {{/if}}
                                            <label >Gold</label><br>

                                            {{#if checkers.colorChecker.Blue}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Blue" checked >
                                            {{else}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Blue" >
                                            {{/if}}
                                            <label >Blue</label><br>

                                            {{#if checkers.colorChecker.Grey}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Grey"  checked>
                                            {{else}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Grey" >
                                            {{/if}}
                                            <label >Grey</label><br>

                                            {{#if checkers.colorChecker.Silver}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Silver" checked >
                                            {{else}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Silver" required>
                                            {{/if}}
                                            <label >Silver</label><br>

                                            {{#if checkers.colorChecker.White}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="White" checked >
                                            {{else}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="White" >
                                            {{/if}}
                                            <label >White</label><br>

                                            {{#if checkers.colorChecker.DeepPurple}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Deep Purple" checked >
                                            {{else}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Deep Purple" >
                                            {{/if}}
                                            <label >Deep Purple</label><br>

                                            {{#if checkers.colorChecker.MidNight}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Mid Night" checked >
                                            {{else}}
                                            <input  class="airPodsInput" type="checkbox" name="productAvailableColor" value="Mid Night" >
                                            {{/if}}
                                            <label >Mid Night</label><br><br>                                            
                                            <br>
                                        </div>
                                        {{/if}}


                                        <div class=" col-lg-12">
                                            <label for="">Description :</label>
                                            <input type="text" value="{{productData.productDescription}}" id="productDescription" name="productDescription" class="form-control" onkeyup="DescriptionChecker()">
                                            <span style="color: red;" id="productDescription_error"></span>
                                        </div>
                                    </div>
                                    <br>


                                <h5 class="AboutThisProduct mt-3 mb-4">About This Item </h5>
                                {{#each productData.productAllAbout}}
                                <div class=" col-lg-12">
                                    <input type="text" value="{{this}}"  name="productAllAbout"class="form-control" >
                                </div>
                                {{/each}}


                                
                                
                                <div  id="inputContainer">
                                    <br>
                                </div>
                                <button class="addDaynamicinput"  type="button" onclick="addInputField()">Add Input Field</button>
                                <br>
                                <br>
                                <label for="">Product First Image</label>
                                <img src="{{productData.productFirstImage}}" style="width: 100px;" alt="" id="firstImgView">
                                <br>
                                <br>
                                <input type="text" value="{{productData.productFirstImage}}"  name="productFirstImage"  hidden>
                                <input type="file" id="productFirstImage"  name="changeFirstImage" class="form-control" onchange="firstImageView(event)">
                                <br>
                                <label >Product Images</label><br>
                                <span id="imgView">
                                    {{#each productData.productImagesURL}}
                                    <img src="{{this}}" style="width: 100px;" id="id-{{this}}"  >
                                    <input type="text" value="{{this}}"  name="productImagesURL"  hidden>
                                    <input type="file" id="productImagesURL" name="changeImagesURL"  class="form-control" onchange="editImgViewFunction(event,'id-{{this}}'),validateEditImage('id-{{this}}','productImagesError-{{this}}')" ><br>
                                    <span style="color: red;" id="productImagesError-{{this}}"></span>
                                     {{/each}}
                                </span>
                                <br>
                                <br>
                                 <span style="color: red;" id="productImages_error"></span>
                                
                                    <div class="submitButton">
                                        <button onclick="return validateEditProductSubmit()"  type="submit" class="formSubmitButton mt-4 ">Submit Edit Product</button>
                                    </div>
                                    <div style="color: red; text-align: center;" class="mt-3" id="submitError"></div>
                                <br>
                                </form>
                        </div>
                    </div>
            </div> <!-- card end// -->

            </div>
        </div>

    <!-- /#page-content-wrapper -->
