<!-- Page Content -->

<div class="container-fluid px-3 " >
    <div class="row mt-1 mb-1" style="background-color: white; min-height: 605px; " >
        <h3 class="PageNameAdd mt-5 ">All Users</h3>
        <div class="card ">
            <table class="table mb-2 display " id="productsTable">
                <thead class="mt-2">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Gmail</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">option</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each usersData}}
                    <tr>
                        <td scope="row">{{this.Name}}</td>
                        <td scope="row">{{this.Email}}</td>
                        <td scope="row">{{this.Mobile}}</td>

                        <td scope="row">


                            {{#if userStatus}}
                            <form action="/admin/block-user" method="post" id="blockUser-{{this._id}}">
                                <input type="text" value="{{this._id}}" name="userId" hidden>
                                <button class="blockButton mb-3"
                                    onclick="return showConfirmForm('Are you want to block  User {{this.Name}} ?','blockUser-{{this._id}}')"
                                    type="submit">Block</button>
                            </form>

                            {{else}}
                            <form action="/admin/unBlock-user" method="post" id="unBlockUser-{{this._id}}">
                                <input type="text" value="{{this._id}}" name="userId" hidden>
                                <button class="unBlockButton mb-3"
                                    onclick="return showConfirmForm('Are you want to Un block  User {{this.Name}} ?','unBlockUser-{{this._id}}')"
                                    type="submit">Un Block</button>
                            </form>
                            {{/if}}


                        </td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <script>

                $(function () {
                    $('#productsTable').DataTable();
                });

            </script>
        </div>
    </div>

</div>
</div>