        <!-- Page Content -->

        <div class="container-fluid px-3">

            <div class="row mt-1" style="background-color: white;">
                <h3 class="PageName mt-4 mb-2"> ALL Products</h3>
                <div class="newButton mt-2 my-4 mr-3">
                    <a href="/admin/add-new-product" class="createNewButton">Create new Product </a>
                </div>
                <div class="card mb-4 px-4">
                    <table class="table mt-4 display " id="productsTable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Image</th>
                                <th scope="col">category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Offer</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Operations</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr style="font-weight: 700;">
                                {{#if this.productActiveStatus}}
                                <td scope="row">{{this.productName}} <p class="unBlocked"></p></td>
                                {{else}}
                                <td scope="row">{{this.productName}} <p class="blocked"></p></td>
                                {{/if}}
                                
                                <td><img style="width: 50px;" src="{{this.productFirstImage}}" alt="image"></td>
                                <td>{{this.productCategory }}</td>
                                <td>₹ {{this.productPrice}}/-</td>
                                <td style="color: green;">{{this.productOffer}}%</td>
                                <td>{{this.ProductStock}}</td>
                                {{!-- //thumlineimage --}}
                                {{!-- <td><img style="width: 50px;" href="{{this.productFirstImage}}.jpg" alt="image"></td> --}}
                                
                                {{!-- <td>{{this.password}}</td> --}}

                                <td>
                                    <a href="/admin/view-single-product/{{this._id}}" class="btn btn-primary">view</a>
                                    <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">edit</a>
                                    {{#if productActiveStatus}}
                                    <a href="/admin/block-products/{{this._id}}" class=" btn btn-danger"
                                        onclick="return confirm('are you sure to  {{this.productName}}')">Block</a>
                                    {{else}}
                                    <a href="/admin/unblock-product/{{this._id}}" class=" btn btn-success"
                                        onclick="return confirm('are you sure to delete  {{this.productName}}')">Unlock</a>
                                    {{/if}}

                                </td>

                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                    <script>

                        $(function () {
                            $('#productsTable').DataTable();
                        });

                    </script>
                </div>
            </div>

        </div>

