        {{!-- <!-- Page Content -->

            <div class="container-fluid px-1 mt-1 mb-5">
                <div class="card px-4 mt-1">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h4 class="PageNameAdd mb-3">Edit Product</h4>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="card mb-4">
                <div class="container mt-4 px-5" >
                    <div class="row">
                        <div class="col-md-12 ">
                            <form action="/admin/edit-Product/{{product_Details._id}}" method="post" enctype="multipart/form-data">
                            <label for="">Name</label>
                            <input type="text" name="productName" value="{{product_Details.productName}}" class="form-control" required >
                            <br>


                            <label for="">Category</label>
                            <select id="productCategory" name="productCategory"   class="form-control">
                                <option>{{product_Details.productCategory}}</option>
                                <option value="Mackbook" >Mackbook</option>
                                <option value="iphone">iPhone</option>
                                <option value="iPad">iPad</option>
                                <option value="AirPods">AirPods</option>
                            </select>
                            <br>

                            <label for="">Price</label>
                            <input type="text" name="productPrice" value="{{product_Details.productPrice}}" class="form-control" required>
                            <br>

                            <label for="">Product Stock</label>
                            <input  type="number" name="ProductStock" value="{{product_Details.ProductStock}}" class="form-control" required>
                            <br>

                            <label for="">Offer %</label>
                            <input type="text" name="productOffer" value="{{product_Details.productOffer}}" class="form-control" required>
                            <br>

                            <label  for="productDelivary">Delivery Method :</label>
                                        <br>
                                        <div class="mt-2 mx-4">
                                            <input type="radio" name="ProductDelivary"  value="true" > Free Delivary
                                            <br>
                                             <input type="radio" name="ProductDelivary"  value="false" > No Free Delivary
                                        </div>
                                        <br>

                            <label for="">Description</label>
                            <input type="text" name="productDescription" value="{{product_Details.productDescription}}" class="form-control" required>
                            <br>

                            

                            <label for="">Image</label>
                            <img src="/product-images/{{product_Details._id}}.jpg" style="width: 100px;" alt="" id="imgView">
                            <br>
                            <br>
                            <input type="file" name="productImage" value="" class="form-control" onchange="viewImage(event)" required>
                            <br>
                            
                            <div class="submitButton">
                                 <button type="submit" class="btn  btn-success mt-4">Submit</button>
                            </div>
                            <br>

                            </form>
                            
                        </div>
                    </div>
                </div>
            </div> <!-- card end// -->

            </div>
        </div>


    --}}